
body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}

.flex-container{
    padding: 2% 0;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}
.half-width{
    width:50%;
    padding-left:5%;

}
.half-width img{
    width:75%;
}
.link-btn{
    margin-top: 20px;
    text-decoration: none;
    padding: 10px 40px;
    background: linear-gradient(90deg,#f7cd38,#f9500f);
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    transition: all 0.4s ease;
}
.link-btn:hover{
    background: linear-gradient(-90deg,#f7cd38,#f9500f);
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
   
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.card {
    background:#fff;
    padding: 3%;
    border: solid 1px orange;
    box-shadow: 8px 9px 19px 6px #837f79a3;
    border-radius: 10px;
    margin-right: 4%;
    
}
#web-dev-experience{
    border-image:linear-gradient(blue,cyan);
    border-image-slice: 1;
    border-left: 10px solid;

}

#full-stack-experience{
    border-image:linear-gradient(red,orange);
    border-image-slice: 1;
    border-left: 10px solid;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

footer p{
    text-align: center;
}